<div class='jumbotron center'>
  <h1>Welcome To Recipe App</h1>
  
  <h2>This Is The Professional Course</h2>
  
  <%= link_to "Sign Up Now" , '' , class: 'btn btn-lg btn-success' %>
</div>

<div class='row'>
  <div class='col-lg-4'>
    <h3 class='midrow'>View As Guest
    </h3>
    <h2 class='left'>
      Browse And View As Guest
    </h2>
    <p><%= link_to 'Browse Listings', '' , class: "btn btn-warning btn-small"  %></p>
  </div>
  
   <div class='col-lg-4'>
    <h3 class='midrow'>View As Guest
    </h3>
    <h2 class='left'>
      Browse And View As Guest
    </h2>
    <p><%= link_to 'Browse Listings', '' , class: "btn btn-warning btn-small"  %></p>
  </div>
  
  
   <div class='col-lg-4'>
    <h3 class='midrow'>View As Guest
    </h3>
    <h2 class='left'>
      Browse And View As Guest
    </h2>
    <p><%= link_to 'Browse Listings', '' , class: "btn btn-warning btn-small"  %></p>
  </div>
  
  
  
</div>